*{
    margin: 0px;
    padding: 0px;
}

body{
    background-image: url("Images/Background.png");
    background-repeat: no-repeat;
    background-size: cover;

}

.bowlby-one-sc-regular {
  font-family: "Bowlby One SC", sans-serif;
  font-weight: 400;
  font-style: normal;
}

h2{
    font-family: "Bowlby One SC", serif;
}

header{
    position: relative;
    border: 2pt solid rgb(20, 20, 20);
    background-color: rgb(20, 20, 20);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.notebook-bg{
    position: relative;
    bottom: 70px;
    width: 99%;
}